In [1]:
import numpy as np
import pandas as pd
from scipy.stats import skew, kurtosis, mode, binom, poisson, norm, expon, f_oneway, ttest_ind, ttest_rel
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.anova import AnovaRM
import stat_240829 as stat

# Descriptive Statistics: describe()

In [2]:
np.random.seed(42)
df = pd.DataFrame({
    'Var1': np.random.rand(20),
    'Var2': np.random.rand(20),
    'Var3': np.random.rand(20),
    'Var4': np.random.rand(20),
    'Var5': np.random.rand(20),
    'c': ['X', 'X', 'Y', 'Z', 'Y', 'X', 'Z', 'Y', 'Z', 'Y','A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'Y']
})

In [3]:
stat.describe(df,cols=['Var1','Var2','Var3','Var4','Var5'])

,mean,median,variance,std_dev,mad,min,max,range,skewness,kurtosis,count,sum,25%,50%,75%
Var1,0.457702,0.403243,0.094671,0.307687,0.234321,0.020584,0.969910,0.949325,0.277863,-1.263481,20,9.154046,0.183010,0.403243,0.714053
Var2,0.454829,0.448111,0.084785,0.291179,0.242280,0.046450,0.965632,0.919182,0.227964,-1.084160,20,9.096579,0.192386,0.448111,0.629948
Var3,0.489971,0.507622,0.109425,0.330794,0.317204,0.034389,0.969585,0.935196,0.116779,-1.421157,20,9.799421,0.193201,0.507622,0.805056
Var4,0.461058,0.373572,0.098833,0.314378,0.299274,0.005522,0.986887,0.981365,0.098072,-1.460762,20,9.221165,0.184268,0.373572,0.771514
Var5,0.487343,0.508264,0.072195,0.268691,0.201131,0.025419,0.887213,0.861794,-0.279719,-1.048767,20,9.746863,0.321633,0.508264,0.717335

# Statistical Test Flow Chart: test()

In [ ]:
### Revising because this is too much ###
''' test: Statistical test flow chart
        question: difference, correlation, categories
        factors: # of factors
        same: same (True) or different (False) subjects
        compare: list of comparisons
        para: parameteric (True) or nonparametric (False)
    Dependencies:
'''
def test(df: pd.DataFrame(), compare: list(), question: str(), factors=1, same=False, para=True):
    return ''

need to reformat to tidy data and then it will be good for pairwise turkey_hsd

In [4]:
''' difference: Statistical test flow chart
        df: tidy DataFrame
        data_col: data column name
        compare_col: comparisons column name
        compare: list of comparisons
        group: column name to split tidy dataframes (optional)
        factors: # of factors
        same: same (True) or different (False) subjects
        compare: list of comparisons
        para: parameteric (True) or nonparametric (False)
        alpha: significance level for the test (Default: 0.05)
    Dependencies:
'''
def difference(df: pd.DataFrame(), data_col: str(), compare_col: str(), compare: list(), factors=1, same=False, para=True, alpha=0.05):

    if factors==1: # quantity of factors (condition 2 levels?)

        if not same: # Different samples

            if para==True: # Data that follows a normal distribution

                if len(compare)==2: # Comparing 2 samples

                    # Student's T Test Calculation
                    print('Statistical Test: Student\'s T-test \n - Only use if you have two groups or if you are comparing just two of the n groups and are not concerned about inflating the Type I error rate (e.g., False Positives).')
                    t_stat, p_value = ttest_ind(*(df[df[compare_col]==comp][data_col] for comp in compare))
                    inference = pd.DataFrame({'test':['Student\'s T-test']*2,
                                              'comparison': [','.join(compare)]*2, 
                                              'statistic': ['t_stat','p_value'],
                                              'value':[t_stat,p_value]})
                    
                    return inference
                
                elif len(compare)>2: # Comparing more than 2 samples
                    
                    # 1-way Anova Test
                    print('Statistical Test: 1-way Anova\n - If you want to compare all three groups simultaneously to determine if there is a significant difference in their means.\n - If the ANOVA finds a significant difference, then perform post-hoc tests to determine which specific groups differ from each other.')
                    f_stat, p_value = f_oneway(*(df[df[compare_col]==comp][data_col] for comp in compare))
                    if p_value<alpha: null='reject'
                    else: null='accept'
                    inference = pd.DataFrame({'test':['1-way Anova Test']*2,
                                              'comparison': [','.join(compare)]*2, 
                                              'statistic': ['f_stat','p_value'],
                                              'value':[f_stat,p_value],
                                              'null': ['',null]})
                    
                    # Tukey's Honestly Significant Difference Test
                    print('Statistical Test: Tukey\'s Honestly Significant Difference (HSD) Test\n - It\'s suitable when you have equal or unequal group sizes.\n - Other options include Bonferroni Correction, Scheffé\'s Test, Dunnett\'s Test, and Holm\'s Sequential Bonferroni Procedure.')
                    df2 = pd.concat([df[df[compare_col]==comp] for comp in compare]).reset_index(drop=True) # Only include specified data
                    tukey_result = pairwise_tukeyhsd(df2[data_col], df2[compare_col], alpha=alpha)
                    tukey_df = pd.DataFrame(data=tukey_result._results_table.data[1:], columns=tukey_result._results_table.data[0])
                    inference = pd.concat([inference,
                                           pd.DataFrame({'test':['Tukey\'s HSD Test']*len(compare),
                                                         'comparison': [','.join([tukey_df.iloc[i]['group1'],tukey_df.iloc[i]['group2']]) for i in range(len(tukey_df))], 
                                                         'statistic': ['p-adj']*len(compare),
                                                         'value': tukey_df['p-adj']})]).reset_index(drop=True)

                    return inference
                
                else: print('Error: Invalid compare. List needs to contain 2 or more stings')
            
            else: # Data that does not follow a normal distribution
                print('Statistical Test: Mann Whitney U Test\nWIP...')
        
        else: # Same sample

            if para==True:  # Data that follows a normal distribution

                if len(compare)==2: # Comparing 2 related (paired) samples
                    
                    # Student's Paired T-test
                    print('Statistical Test: Paired Student\'s T-test \n  - Only use if you have two groups or if you are comparing just two of the n groups and are not concerned about inflating the Type I error rate (e.g., False Positives).\n - Assumes the two groups are related or paired, meaning that each data point in one group has a corresponding data point in the other group.')
                    t_stat, p_value = ttest_rel(*(df[df[compare_col]==comp][data_col] for comp in compare))
                    inference = pd.DataFrame({'test':['Paired Student\'s T-test']*2,
                                              'comparison': [','.join(compare)]*2, 
                                              'statistic': ['t_stat','p_value'],
                                              'value':[t_stat,p_value]})
                    
                    return inference

                elif len(compare)>2: # Comparing 2 or more related (paired) samples
                    
                    # Repeated Anova
                    print('Statistical Test: Repeated 1-way Anova\nWIP...')
                    df2 = pd.concat([df[df[compare_col]==comp] for comp in compare]).reset_index(drop=True) # Only include specified data
                    anova = AnovaRM(data=df2, depvar=data_col, subject=compare_col)
                    anova_result = anova.fit()
                    print(anova_result)

                else: print('Error: Invalid compare. List needs to contain 2 or more stings')

            else: 
                print('Statistical Test: Wilcocson Paired Test\nWIP...')
    
    # Deal with later...
    elif factors>1: print('Statistical Test: 2 way anova, General Linear (Mixed) Model, etc.\nNot Included...')
    else: print('Error: Invalid factors. Number needs to be greater or equal to 1.')

In [66]:
df

        Var1      Var2      Var3      Var4      Var5  c
0   0.374540  0.611853  0.122038  0.388677  0.863103  X
1   0.950714  0.139494  0.495177  0.271349  0.623298  X
2   0.731994  0.292145  0.034389  0.828738  0.330898  Y
3   0.598658  0.366362  0.909320  0.356753  0.063558  Z
4   0.156019  0.456070  0.258780  0.280935  0.310982  Y
5   0.155995  0.785176  0.662522  0.542696  0.325183  X
6   0.058084  0.199674  0.311711  0.140924  0.729606  Z
7   0.866176  0.514234  0.520068  0.802197  0.637557  Y
8   0.601115  0.592415  0.546710  0.074551  0.887213  Z
9   0.708073  0.046450  0.184854  0.986887  0.472215  Y
10  0.020584  0.607545  0.969585  0.772245  0.119594  A
11  0.969910  0.170524  0.775133  0.198716  0.713245  A
12  0.832443  0.065052  0.939499  0.005522  0.760785  A
13  0.212339  0.948886  0.894827  0.815461  0.561277  B
14  0.181825  0.965632  0.597900  0.706857  0.770967  B
15  0.183405  0.808397  0.921874  0.729007  0.493796  B
16  0.304242  0.304614  0.088493  0.771270  0.522733  C
17  0.524756  0.097672  0.195983  0.074045  0.427541  C
18  0.431945  0.684233  0.045227  0.358466  0.025419  C
19  0.291229  0.440152  0.325330  0.115869  0.107891  Y

In [65]:
AnovaRM?

Init signature:
AnovaRM(
    data,
    depvar,
    subject,
    within=None,
    between=None,
    aggregate_func=None,
)
Docstring:
Repeated measures Anova using least squares regression

The full model regression residual sum of squares is
used to compare with the reduced model for calculating the
within-subject effect sum of squares [1].

Currently, only fully balanced within-subject designs are supported.
Calculation of between-subject effects and corrections for violation of
sphericity are not yet implemented.

Parameters
----------
data : DataFrame
depvar : str
    The dependent variable in `data`
subject : str
    Specify the subject id
within : list[str]
    The within-subject factors
between : list[str]
    The between-subject factors, this is not yet implemented
aggregate_func : {None, 'mean', callable}
    If the data set contains more than a single observation per subject
    and cell of the specified model, this function will be used to
    aggregate the data before running the Anova. `None` (the default) will
    not perform any aggregation; 'mean' is s shortcut to `numpy.mean`.
    An exception will be raised if aggregation is required, but no
    aggregation function was specified.

Returns
-------
results : AnovaResults instance

Raises
------
ValueError
    If the data need to be aggregated, but `aggregate_func` was not
    specified.

Notes
-----
This implementation currently only supports fully balanced designs. If the
data contain more than one observation per subject and cell of the design,
these observations need to be aggregated into a single observation
before the Anova is calculated, either manually or by passing an aggregation
function via the `aggregate_func` keyword argument.
Note that if the input data set was not balanced before performing the
aggregation, the implied heteroscedasticity of the data is ignored.

References
----------
.. [*] Rutherford, Andrew. Anova and ANCOVA: a GLM approach. John Wiley & Sons, 2011.
File:           ~/anaconda3/lib/python3.11/site-packages/statsmodels/stats/anova.py
Type:           type
Subclasses:

In [71]:
difference(df=df,data_col='Var5',compare_col='c',compare=['X','Y'],factors=1,same=False,para=True)

Statistical Test: Student's T-test
 - Only use if you have two groups or if you are comparing just two of the n groups and are not concerned about inflating the Type I error rate (e.g., False Positives).

               test comparison statistic     value
0  Student's T-test        X,Y    t_stat  1.418112
1  Student's T-test        X,Y   p_value  0.205944

In [72]:
difference(df=df,data_col='Var5',compare_col='c',compare=['X','Y','Z'],factors=1,same=False,para=True)

Statistical Test: 1-way Anova
 - If you want to compare all three groups simultaneously to determine if there is a significant difference in their means.
 - If the ANOVA finds a significant difference, then perform post-hoc tests to determine which specific groups differ from each other.
Statistical Test: Tukey's Honestly Significant Difference (HSD) Test
 - It's suitable when you have equal or unequal group sizes.
 - Other options include Bonferroni Correction, Scheffé's Test, Dunnett's Test, and Holm's Sequential Bonferroni Procedure.

               test comparison statistic     value
0  1-way Anova Test      X,Y,Z    f_stat  0.721473
1  1-way Anova Test      X,Y,Z   p_value  0.515145
2  Tukey's HSD Test        X,Y     p-adj  0.547800
3  Tukey's HSD Test        X,Z     p-adj  0.981700
4  Tukey's HSD Test        Y,Z     p-adj  0.665900

In [73]:
difference(df=df,data_col='Var5',compare_col='c',compare=['A','B'],factors=1,same=True,para=True)

Statistical Test: Paired Student's T-test
  - Only use if you have two groups or if you are comparing just two of the n groups and are not concerned about inflating the Type I error rate (e.g., False Positives).
 - Assumes the two groups are related or paired, meaning that each data point in one group has a corresponding data point in the other group.

                      test comparison statistic     value
0  Paired Student's T-test        A,B    t_stat -0.378255
1  Paired Student's T-test        A,B   p_value  0.741616

In [68]:
difference(df=df,data_col='Var5',compare_col='c',compare=['A','B','C'],factors=1,same=True,para=True)

Statistical Test: Repeated 1-way Anova
WIP...

TypeError: argument of type 'NoneType' is not iterable

In [7]:
df

       Var1      Var2      Var3      Var4      Var5  c
0  0.374540  0.020584  0.611853  0.607545  0.122038  X
1  0.950714  0.969910  0.139494  0.170524  0.495177  X
2  0.731994  0.832443  0.292145  0.065052  0.034389  Y
3  0.598658  0.212339  0.366362  0.948886  0.909320  Y
4  0.156019  0.181825  0.456070  0.965632  0.258780  Y
5  0.155995  0.183405  0.785176  0.808397  0.662522  X
6  0.058084  0.304242  0.199674  0.304614  0.311711  X
7  0.866176  0.524756  0.514234  0.097672  0.520068  Y
8  0.601115  0.431945  0.592415  0.684233  0.546710  Y
9  0.708073  0.291229  0.046450  0.440152  0.184854  Y

In [65]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
pairwise_tukeyhsd?

Signature: pairwise_tukeyhsd(endog, groups, alpha=0.05)
Docstring:
Calculate all pairwise comparisons with TukeyHSD confidence intervals

Parameters
----------
endog : ndarray, float, 1d
    response variable
groups : ndarray, 1d
    array with groups, can be string or integers
alpha : float
    significance level for the test

Returns
-------
results : TukeyHSDResults instance
    A results class containing relevant data and some post-hoc
    calculations, including adjusted p-value

Notes
-----
This is just a wrapper around tukeyhsd method of MultiComparison

See Also
--------
MultiComparison
tukeyhsd
statsmodels.sandbox.stats.multicomp.TukeyHSDResults
File:      ~/anaconda3/lib/python3.11/site-packages/statsmodels/stats/multicomp.py
Type:      function

In [67]:
pairwise_tukeyhsd(endog=data[['Var1','Var2','Var3','Var4','Var5']],groups=['Var1','Var2','Var3','Var4','Var5'])

ValueError: data has 10 elements and groups has 5

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Assuming you have a DataFrame df with a column 'values' and a column 'group'
tukey_result = pairwise_tukeyhsd(data['values'], data['group'], alpha=0.05)
print(tukey_result)

Post-hoc tests are used after a one-way ANOVA when you find a statistically significant difference between the group means. These tests help you determine which specific groups differ from each other. Here are some common post-hoc tests used after a one-way ANOVA:

1. Tukey's Honestly Significant Difference (HSD) Test
Purpose: The most commonly used post-hoc test, Tukey's HSD, compares all possible pairs of group means to identify which ones differ significantly.
Usage: It's suitable when you have equal or unequal group sizes.
Implementation:
In Python, you can use pairwise_tukeyhsd from statsmodels.stats.multicomp.
python
Copy code
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Assuming you have a DataFrame df with a column 'values' and a column 'group'
tukey_result = pairwise_tukeyhsd(df['values'], df['group'], alpha=0.05)
print(tukey_result)
2. Bonferroni Correction
Purpose: Adjusts the significance level to account for the number of comparisons being made, reducing the risk of Type I errors.
Usage: You apply it when performing multiple pairwise t-tests. It's a more conservative approach.
Implementation:
You would manually adjust the p-value threshold by dividing the original alpha level by the number of comparisons.
3. Scheffé's Test
Purpose: A very conservative test, Scheffé's test can be used when comparing complex comparisons (not just pairwise). It's suitable when you suspect non-pairwise differences.
Usage: It's less commonly used due to its conservative nature.
Implementation: It's available in some statistical software, but not directly implemented in popular Python libraries.
4. Dunnett's Test
Purpose: Compares multiple treatment groups against a single control group.
Usage: Ideal when you have one control group and want to compare it against several other groups.
Implementation: Specialized packages or functions may be required for this in Python.
5. Holm’s Sequential Bonferroni Procedure
Purpose: A step-down procedure that adjusts p-values to control the family-wise error rate. It's less conservative than the Bonferroni correction.
Usage: Useful when dealing with multiple comparisons.
Implementation: You can use multipletests from statsmodels.
python
Copy code
from statsmodels.stats.multitest import multipletests

# Assuming pvals is a list or array of p-values from multiple tests
pvals_corrected = multipletests(pvals, method='holm')
print(pvals_corrected)
6. Dunn’s Test
Purpose: A non-parametric test used when the ANOVA assumptions are violated. It is used after a Kruskal-Wallis test (non-parametric alternative to ANOVA).
Usage: Suitable when you have non-normally distributed data.
Implementation: The scikit-posthocs package can be used for Dunn's test in Python.

In [57]:
stats.f_oneway(data[['Var1','Var2','Var3','Var4','Var5']])

TypeError: at least two inputs are required; got 1.

In [59]:
data

       Var1      Var2      Var3      Var4      Var5  c
0  0.374540  0.020584  0.611853  0.607545  0.122038  X
1  0.950714  0.969910  0.139494  0.170524  0.495177  X
2  0.731994  0.832443  0.292145  0.065052  0.034389  Y
3  0.598658  0.212339  0.366362  0.948886  0.909320  Y
4  0.156019  0.181825  0.456070  0.965632  0.258780  Y
5  0.155995  0.183405  0.785176  0.808397  0.662522  X
6  0.058084  0.304242  0.199674  0.304614  0.311711  X
7  0.866176  0.524756  0.514234  0.097672  0.520068  Y
8  0.601115  0.431945  0.592415  0.684233  0.546710  Y
9  0.708073  0.291229  0.046450  0.440152  0.184854  Y

In [62]:
compare = ['Var1','Var2']
t_stat, p_value = stats.ttest_ind(data[compare[0]],data[compare[1]])
pd.DataFrame({'t_stat': t_stat, 'p_value': p_value},index=pd.Index([','.join(compare)],name='compare')).reset_index()

     compare    t_stat   p_value
0  Var1,Var2  0.903049  0.378427

In [64]:
compare = ['Var1','Var2','Var3']
f_stat, p_value = stats.f_oneway(*(data[col] for col in compare))
pd.DataFrame({'f_stat': f_stat, 'p_value': p_value},index=pd.Index([','.join(compare)],name='compare')).reset_index()

          compare    f_stat  p_value
0  Var1,Var2,Var3  0.609184   0.5511

In [54]:
stats.f_oneway?

Signature: stats.f_oneway(*samples, axis=0)
Docstring:
Perform one-way ANOVA.

The one-way ANOVA tests the null hypothesis that two or more groups have
the same population mean.  The test is applied to samples from two or
more groups, possibly with differing sizes.

Parameters
----------
sample1, sample2, ... : array_like
    The sample measurements for each group.  There must be at least
    two arguments.  If the arrays are multidimensional, then all the
    dimensions of the array must be the same except for `axis`.
axis : int, optional
    Axis of the input arrays along which the test is applied.
    Default is 0.

Returns
-------
statistic : float
    The computed F statistic of the test.
pvalue : float
    The associated p-value from the F distribution.

Warns
-----
`~scipy.stats.ConstantInputWarning`
    Raised if all values within each of the input arrays are identical.
    In this case the F statistic is either infinite or isn't defined,
    so ``np.inf`` or ``np.nan`` is returned.

`~scipy.stats.DegenerateDataWarning`
    Raised if the length of any input array is 0, or if all the input
    arrays have length 1.  ``np.nan`` is returned for the F statistic
    and the p-value in these cases.

Notes
-----
The ANOVA test has important assumptions that must be satisfied in order
for the associated p-value to be valid.

1. The samples are independent.
2. Each sample is from a normally distributed population.
3. The population standard deviations of the groups are all equal.  This
   property is known as homoscedasticity.

If these assumptions are not true for a given set of data, it may still
be possible to use the Kruskal-Wallis H-test (`scipy.stats.kruskal`) or
the Alexander-Govern test (`scipy.stats.alexandergovern`) although with
some loss of power.

The length of each group must be at least one, and there must be at
least one group with length greater than one.  If these conditions
are not satisfied, a warning is generated and (``np.nan``, ``np.nan``)
is returned.

If all values in each group are identical, and there exist at least two
groups with different values, the function generates a warning and
returns (``np.inf``, 0).

If all values in all groups are the same, function generates a warning
and returns (``np.nan``, ``np.nan``).

The algorithm is from Heiman [2]_, pp.394-7.

References
----------
.. [1] R. Lowry, "Concepts and Applications of Inferential Statistics",
       Chapter 14, 2014, http://vassarstats.net/textbook/

.. [2] G.W. Heiman, "Understanding research methods and statistics: An
       integrated introduction for psychology", Houghton, Mifflin and
       Company, 2001.

.. [3] G.H. McDonald, "Handbook of Biological Statistics", One-way ANOVA.
       http://www.biostathandbook.com/onewayanova.html

Examples
--------
>>> import numpy as np
>>> from scipy.stats import f_oneway

Here are some data [3]_ on a shell measurement (the length of the anterior
adductor muscle scar, standardized by dividing by length) in the mussel
Mytilus trossulus from five locations: Tillamook, Oregon; Newport, Oregon;
Petersburg, Alaska; Magadan, Russia; and Tvarminne, Finland, taken from a
much larger data set used in McDonald et al. (1991).

>>> tillamook = [0.0571, 0.0813, 0.0831, 0.0976, 0.0817, 0.0859, 0.0735,
...              0.0659, 0.0923, 0.0836]
>>> newport = [0.0873, 0.0662, 0.0672, 0.0819, 0.0749, 0.0649, 0.0835,
...            0.0725]
>>> petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
>>> magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
...            0.0689]
>>> tvarminne = [0.0703, 0.1026, 0.0956, 0.0973, 0.1039, 0.1045]
>>> f_oneway(tillamook, newport, petersburg, magadan, tvarminne)
F_onewayResult(statistic=7.121019471642447, pvalue=0.0002812242314534544)

`f_oneway` accepts multidimensional input arrays.  When the inputs
are multidimensional and `axis` is not given, the test is performed
along the first axis of the input arrays.  For the following data, the
test is performed three times, once for each column.

>>> a = np.array([[9.87, 9.03, 6.81],
...               [7.18, 8.35, 7.00],
...               [8.39, 7.58, 7.68],
...               [7.45, 6.33, 9.35],
...               [6.41, 7.10, 9.33],
...               [8.00, 8.24, 8.44]])
>>> b = np.array([[6.35, 7.30, 7.16],
...               [6.65, 6.68, 7.63],
...               [5.72, 7.73, 6.72],
...               [7.01, 9.19, 7.41],
...               [7.75, 7.87, 8.30],
...               [6.90, 7.97, 6.97]])
>>> c = np.array([[3.31, 8.77, 1.01],
...               [8.25, 3.24, 3.62],
...               [6.32, 8.81, 5.19],
...               [7.48, 8.83, 8.91],
...               [8.59, 6.01, 6.07],
...               [3.07, 9.72, 7.48]])
>>> F, p = f_oneway(a, b, c)
>>> F
array([1.75676344, 0.03701228, 3.76439349])
>>> p
array([0.20630784, 0.96375203, 0.04733157])
File:      ~/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py
Type:      function

In [53]:
stats.ttest_ind?

Signature:
stats.ttest_ind(
    a,
    b,
    axis=0,
    equal_var=True,
    nan_policy='propagate',
    permutations=None,
    random_state=None,
    alternative='two-sided',
    trim=0,
    *,
    keepdims=False,
)
Docstring:
Calculate the T-test for the means of *two independent* samples of scores.

This is a test for the null hypothesis that 2 independent samples
have identical average (expected) values. This test assumes that the
populations have identical variances by default.

Parameters
----------
a, b : array_like
    The arrays must have the same shape, except in the dimension
    corresponding to `axis` (the first, by default).
axis : int or None, default: 0
    If an int, the axis of the input along which to compute the statistic.
    The statistic of each axis-slice (e.g. row) of the input will appear in a
    corresponding element of the output.
    If ``None``, the input will be raveled before computing the statistic.
equal_var : bool, optional
    If True (default), perform a standard independent 2 sample test
    that assumes equal population variances [1]_.
    If False, perform Welch's t-test, which does not assume equal
    population variance [2]_.

    .. versionadded:: 0.11.0
nan_policy : {'propagate', 'omit', 'raise'}
    Defines how to handle input NaNs.

    - ``propagate``: if a NaN is present in the axis slice (e.g. row) along
      which the  statistic is computed, the corresponding entry of the output
      will be NaN.
    - ``omit``: NaNs will be omitted when performing the calculation.
      If insufficient data remains in the axis slice along which the
      statistic is computed, the corresponding entry of the output will be
      NaN.
    - ``raise``: if a NaN is present, a ``ValueError`` will be raised.
permutations : non-negative int, np.inf, or None (default), optional
    If 0 or None (default), use the t-distribution to calculate p-values.
    Otherwise, `permutations` is  the number of random permutations that
    will be used to estimate p-values using a permutation test. If
    `permutations` equals or exceeds the number of distinct partitions of
    the pooled data, an exact test is performed instead (i.e. each
    distinct partition is used exactly once). See Notes for details.

    .. versionadded:: 1.7.0
random_state : {None, int, `numpy.random.Generator`,
        `numpy.random.RandomState`}, optional

    If `seed` is None (or `np.random`), the `numpy.random.RandomState`
    singleton is used.
    If `seed` is an int, a new ``RandomState`` instance is used,
    seeded with `seed`.
    If `seed` is already a ``Generator`` or ``RandomState`` instance then
    that instance is used.

    Pseudorandom number generator state used to generate permutations
    (used only when `permutations` is not None).

    .. versionadded:: 1.7.0
alternative : {'two-sided', 'less', 'greater'}, optional
    Defines the alternative hypothesis.
    The following options are available (default is 'two-sided'):

    * 'two-sided': the means of the distributions underlying the samples
      are unequal.
    * 'less': the mean of the distribution underlying the first sample
      is less than the mean of the distribution underlying the second
      sample.
    * 'greater': the mean of the distribution underlying the first
      sample is greater than the mean of the distribution underlying
      the second sample.

    .. versionadded:: 1.6.0
trim : float, optional
    If nonzero, performs a trimmed (Yuen's) t-test.
    Defines the fraction of elements to be trimmed from each end of the
    input samples. If 0 (default), no elements will be trimmed from either
    side. The number of trimmed elements from each tail is the floor of the
    trim times the number of elements. Valid range is [0, .5).

    .. versionadded:: 1.7
keepdims : bool, default: False
    If this is set to True, the axes which are reduced are left
    in the result as dimensions with size one. With this option,
    the result will broadcast correctly against the input array.

Returns
-------
result : `~scipy.stats._result_classes.TtestResult`
    An object with the following attributes:

    statistic : float or ndarray
        The t-statistic.
    pvalue : float or ndarray
        The p-value associated with the given alternative.
    df : float or ndarray
        The number of degrees of freedom used in calculation of the
        t-statistic. This is always NaN for a permutation t-test.

        .. versionadded:: 1.11.0

    The object also has the following method:

    confidence_interval(confidence_level=0.95)
        Computes a confidence interval around the difference in
        population means for the given confidence level.
        The confidence interval is returned in a ``namedtuple`` with
        fields ``low`` and ``high``.
        When a permutation t-test is performed, the confidence interval
        is not computed, and fields ``low`` and ``high`` contain NaN.

        .. versionadded:: 1.11.0

Notes
-----
Suppose we observe two independent samples, e.g. flower petal lengths, and
we are considering whether the two samples were drawn from the same
population (e.g. the same species of flower or two species with similar
petal characteristics) or two different populations.

The t-test quantifies the difference between the arithmetic means
of the two samples. The p-value quantifies the probability of observing
as or more extreme values assuming the null hypothesis, that the
samples are drawn from populations with the same population means, is true.
A p-value larger than a chosen threshold (e.g. 5% or 1%) indicates that
our observation is not so unlikely to have occurred by chance. Therefore,
we do not reject the null hypothesis of equal population means.
If the p-value is smaller than our threshold, then we have evidence
against the null hypothesis of equal population means.

By default, the p-value is determined by comparing the t-statistic of the
observed data against a theoretical t-distribution.
When ``1 < permutations < binom(n, k)``, where

* ``k`` is the number of observations in `a`,
* ``n`` is the total number of observations in `a` and `b`, and
* ``binom(n, k)`` is the binomial coefficient (``n`` choose ``k``),

the data are pooled (concatenated), randomly assigned to either group `a`
or `b`, and the t-statistic is calculated. This process is performed
repeatedly (`permutation` times), generating a distribution of the
t-statistic under the null hypothesis, and the t-statistic of the observed
data is compared to this distribution to determine the p-value.
Specifically, the p-value reported is the "achieved significance level"
(ASL) as defined in 4.4 of [3]_. Note that there are other ways of
estimating p-values using randomized permutation tests; for other
options, see the more general `permutation_test`.

When ``permutations >= binom(n, k)``, an exact test is performed: the data
are partitioned between the groups in each distinct way exactly once.

The permutation test can be computationally expensive and not necessarily
more accurate than the analytical test, but it does not make strong
assumptions about the shape of the underlying distribution.

Use of trimming is commonly referred to as the trimmed t-test. At times
called Yuen's t-test, this is an extension of Welch's t-test, with the
difference being the use of winsorized means in calculation of the variance
and the trimmed sample size in calculation of the statistic. Trimming is
recommended if the underlying distribution is long-tailed or contaminated
with outliers [4]_.

The statistic is calculated as ``(np.mean(a) - np.mean(b))/se``, where
``se`` is the standard error. Therefore, the statistic will be positive
when the sample mean of `a` is greater than the sample mean of `b` and
negative when the sample mean of `a` is less than the sample mean of
`b`.

Beginning in SciPy 1.9, ``np.matrix`` inputs (not recommended for new
code) are converted to ``np.ndarray`` before the calculation is performed. In
this case, the output will be a scalar or ``np.ndarray`` of appropriate shape
rather than a 2D ``np.matrix``. Similarly, while masked elements of masked
arrays are ignored, the output will be a scalar or ``np.ndarray`` rather than a
masked array with ``mask=False``.

References
----------
.. [1] https://en.wikipedia.org/wiki/T-test#Independent_two-sample_t-test

.. [2] https://en.wikipedia.org/wiki/Welch%27s_t-test

.. [3] B. Efron and T. Hastie. Computer Age Statistical Inference. (2016).

.. [4] Yuen, Karen K. "The Two-Sample Trimmed t for Unequal Population
       Variances." Biometrika, vol. 61, no. 1, 1974, pp. 165-170. JSTOR,
       www.jstor.org/stable/2334299. Accessed 30 Mar. 2021.

.. [5] Yuen, Karen K., and W. J. Dixon. "The Approximate Behaviour and
       Performance of the Two-Sample Trimmed t." Biometrika, vol. 60,
       no. 2, 1973, pp. 369-374. JSTOR, www.jstor.org/stable/2334550.
       Accessed 30 Mar. 2021.

Examples
--------
>>> import numpy as np
>>> from scipy import stats
>>> rng = np.random.default_rng()

Test with sample with identical means:

>>> rvs1 = stats.norm.rvs(loc=5, scale=10, size=500, random_state=rng)
>>> rvs2 = stats.norm.rvs(loc=5, scale=10, size=500, random_state=rng)
>>> stats.ttest_ind(rvs1, rvs2)
Ttest_indResult(statistic=-0.4390847099199348, pvalue=0.6606952038870015)
>>> stats.ttest_ind(rvs1, rvs2, equal_var=False)
Ttest_indResult(statistic=-0.4390847099199348, pvalue=0.6606952553131064)

`ttest_ind` underestimates p for unequal variances:

>>> rvs3 = stats.norm.rvs(loc=5, scale=20, size=500, random_state=rng)
>>> stats.ttest_ind(rvs1, rvs3)
Ttest_indResult(statistic=-1.6370984482905417, pvalue=0.1019251574705033)
>>> stats.ttest_ind(rvs1, rvs3, equal_var=False)
Ttest_indResult(statistic=-1.637098448290542, pvalue=0.10202110497954867)

When ``n1 != n2``, the equal variance t-statistic is no longer equal to the
unequal variance t-statistic:

>>> rvs4 = stats.norm.rvs(loc=5, scale=20, size=100, random_state=rng)
>>> stats.ttest_ind(rvs1, rvs4)
Ttest_indResult(statistic=-1.9481646859513422, pvalue=0.05186270935842703)
>>> stats.ttest_ind(rvs1, rvs4, equal_var=False)
Ttest_indResult(statistic=-1.3146566100751664, pvalue=0.1913495266513811)

T-test with different means, variance, and n:

>>> rvs5 = stats.norm.rvs(loc=8, scale=20, size=100, random_state=rng)
>>> stats.ttest_ind(rvs1, rvs5)
Ttest_indResult(statistic=-2.8415950600298774, pvalue=0.0046418707568707885)
>>> stats.ttest_ind(rvs1, rvs5, equal_var=False)
Ttest_indResult(statistic=-1.8686598649188084, pvalue=0.06434714193919686)

When performing a permutation test, more permutations typically yields
more accurate results. Use a ``np.random.Generator`` to ensure
reproducibility:

>>> stats.ttest_ind(rvs1, rvs5, permutations=10000,
...                 random_state=rng)
Ttest_indResult(statistic=-2.8415950600298774, pvalue=0.0052994700529947)

Take these two samples, one of which has an extreme tail.

>>> a = (56, 128.6, 12, 123.8, 64.34, 78, 763.3)
>>> b = (1.1, 2.9, 4.2)

Use the `trim` keyword to perform a trimmed (Yuen) t-test. For example,
using 20% trimming, ``trim=.2``, the test will reduce the impact of one
(``np.floor(trim*len(a))``) element from each tail of sample `a`. It will
have no effect on sample `b` because ``np.floor(trim*len(b))`` is 0.

>>> stats.ttest_ind(a, b, trim=.2)
Ttest_indResult(statistic=3.4463884028073513,
                pvalue=0.01369338726499547)
File:      ~/anaconda3/lib/python3.11/site-packages/scipy/stats/_stats_py.py
Type:      function