In [1]:
import pyMUZ.gen.io as io
import pandas as pd

In [9]:
sdge = io.get('/Users/marczepeda/git/python/other/real/SDG&E electric usage - cost Windridge - cost template .csv')
sdge

,Date Category,Period,Time Category,$/kWh,Solar Production (kWh),Home Usage (kWh),Cost,Net Grid Energy(kWh),Cumulative Solar Production (kWh),Cumulative Home Usage (kWh),Cumulative Net Grid Energy (kWh),Accumulative Cost
0,Weekend,"Sunday, 9/01/2024 - 12:00am - 1:00am",Super Off-Peak,$0.0451,0.01,0.86,$0.04,0.85,0.01,0.86,0.85,$0.04
1,Weekend,"Sunday, 9/01/2024 - 1:00am - 2:00am",Super Off-Peak,$0.0451,0.01,0.67,$0.03,0.66,0.02,1.53,1.51,$0.07
2,Weekend,"Sunday, 9/01/2024 - 2:00am - 3:00am",Super Off-Peak,$0.0451,0.01,0.84,$0.04,0.83,0.03,2.37,2.34,$0.11
3,Weekend,"Sunday, 9/01/2024 - 3:00am - 4:00am",Super Off-Peak,$0.0451,0.01,1.31,$0.06,1.30,0.04,3.68,3.64,$0.17
4,Weekend,"Sunday, 9/01/2024 - 4:00am - 5:00am",Super Off-Peak,$0.0451,0.01,1.09,$0.05,1.08,0.05,4.77,4.72,$0.22
...,...,...,...,...,...,...,...,...,...,...,...,...
859,NaN,NaN,Peak,$0.4699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
860,NaN,NaN,Peak,$0.4699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
861,NaN,NaN,Off-Peak,$0.1452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,NaN,NaN,Off-Peak,$0.1452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,NaN,NaN,Off-Peak,$0.1452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
sdge_costs = pd.DataFrame(list(set((sdge.iloc[i]['Date Category'],sdge.iloc[i]['Time Category'],sdge.iloc[i]['$/kWh']) for i in range(len(sdge)))),
                          columns=['Date Category','Time Category','$/kWh'])
sdge_costs.dropna(inplace=True)
sdge_costs.sort_values(by=['Date Category','Time Category'])

  Date Category   Time Category    $/kWh
1       Weekday        Off-Peak  $0.1452
6       Weekday            Peak  $0.4699
2       Weekday  Super Off-Peak  $0.4699
8       Weekday  Super Off-Peak  $0.0451
5       Weekend        Off-Peak  $0.1452
9       Weekend            Peak  $0.4699
0       Weekend  Super Off-Peak  $0.0451